.idea
target
*.iml
*.ipr
*.iws

.classpath
.project
.settings/
bin/
clips.txt
collatex-cocoon/.classpath
collatex-cocoon/.project
collatex-cocoon/.settings/
collatex-nodeps/
collatex/.classpath
collatex/.project
collatex/.settings/
collatex/exampleOutput.txt
collatex/src/main/java/META-INF/
image-transform/.classpath
image-transform/.project
image-transform/.settings/
server/.classpath
server/.project
server/.settings/
style/.classpath
style/.project
style/.settings/
style/src/main/resources/META-INF/
test.html
text/.classpath
text/.project
text/.settings/
text/src/main/java/META-INF/
webapp/.classpath
webapp/.project
webapp/.settings/
webapp/src/main/webapp/META-INF/