.DS_Store
.idea
target
*.iml
*.ipr
*.iws
*.ipynb
*.egg-info
Digraph.gv*
collatex-pythonport/build/*
collatex-pythonport/dist/*

.classpath
.eggs
.project
.settings/
bin/
site/vendor
node_modules
/.pydevproject
