<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-20.30(%d{HH:mm:ss.SSS} %-5level) [%50.50logger] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="eu.interedition" level="DEBUG"/>
    <logger name="freemarker" level="INFO"/>
    <logger name="java.awt" level="INFO"/>
    <logger name="javax.swing" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.restlet" level="INFO"/>
    <logger name="org.restlet.ServerApplication.Directory" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="sun.awt" level="INFO"/>
    <root>
        <appender-ref ref="stdout"/>
    </root>
</configuration>