body {
    margin: 1em auto; /* center in viewport */
    width: 960px;
}

h1 {
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: right;
    background: #1E90FF;
    color: #FFFFFF;
}

a {
    color: #666666;
    font-weight: bold;
    text-decoration: none;
}

form table, form table tr td, form table tr th {
    border: 0.25em solid #FFFFFF;
}

form table tr td, form table tr th {
    margin: 0.5em 0;
    background: #F2F2F2;
}

.error {
    color: #FF3366;
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}