<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="$jnlpspec" codebase="$jnlpCodebase" href="$outputFile">
  <information>
    <title>Interedition Microservices</title>
    <vendor>Interedition</vendor>
    <homepage href="http://www.interedition.eu/"/>
    <description>Microservices developed by a European-funded development collective whose aim it is to promote the interoperability of the tools and methodology we use in the field of digital scholarly editing and research.</description>
    <offline-allowed/>
    <icon href="style/eu/interedition/style/interedition_logo.png"/>
    <shortcut online="false">
      <desktop/>
      <menu/>
    </shortcut>
  </information>
  <security>
    <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"/>
    $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>