body { font-family: georgia; }

.color1 { color: #B0C4DE; }
.color2 { color: #8B0000; }
.color3 { color: #8080FF; }
.color4 { color: #A08D00; }
.color5 { color: #80BB00; }
.color6 { color: #FF0060; }
.color7 { color: #FA8072; }
.color8 { color: #FFA000; }
.color9 { color: #080A80; }
.color10 { color: #800080; }
.color11 { color: #008080; }
.color12 { color: #808080; }
.color13 { color: #800080; }
.color14 { color: #4B0082; }
.color15 { color: #00008B; }
.color16 { color: #8B008B; }
.color17 { color: #708090; }
.color18 { color: #D87093; }
.color19 { color: #C0C0C0; }
.color20 { color: #FFC0CB; }
.color21 { color: #0000CD; }
.color22 { color: #40E0D0; }
.color23 { color: #9400D3; }
.color24 { color: #DA70D6; }
.color25 { color: #9370D8; }
.color26 { color: #DDA0DD; }
.color27 { color: #B0E0E6; }
.color28 { color: #FAF0E6; }
.color29 { color: #FFF0F5; }
.color30 { color: #FF00FF; }
.color31 { color: #1E90FF; }
.color32 { color: #0000FF; }
.color33 { color: #48D1CC; }
.color34 { color: #B22222; }
.color35 { color: #A0522D; }
.color36 { color: #20B2AA; }
.color37 { color: #4682B4; }
.color38 { color: #9932CC; }
.color39 { color: #EE82EE; }
.color40 { color: #FF6347; }
.color41 { color: #3CB371; }
.color42 { color: #D3D3D3; }
.color43 { color: #006400; }
.color44 { color: #DC143C; }
.color45 { color: #F4A460; }
.color46 { color: #D2B48C; }
.color47 { color: #FF1493; }
.color48 { color: #FFE4B5; }
.color49 { color: #FFE4C4; }
.color50 { color: #000000; }
.color51 { color: #FFE4E1; }
.color52 { color: #FF4500; }
.color53 { color: #FFA500; }
.color54 { color: #8B4513; }
.color55 { color: #DAA520; }
.color56 { color: #CD853F; }
.color57 { color: #C71585; }
.color58 { color: #BA55D3; }
.color59 { color: #F5F5DC; }
.color60 { color: #FDF5E6; }
.color61 { color: #6495ED; }
.color62 { color: #FFF5EE; }
.color63 { color: #F5F5F5; }
.color64 { color: #B8860B; }
.color65 { color: #E9967A; }
.color66 { color: #F0E68C; }
.color67 { color: #FFB6C1; }
.color68 { color: #E6E6FA; }
.color69 { color: #FFD700; }
.color70 { color: #BDB76B; }
.color71 { color: #DEB887; }
.color72 { color: #778899; }
.color73 { color: #EEE8AA; }
.color74 { color: #FFF8DC; }
.color75 { color: #ADD8E6; }
.color76 { color: #7B68EE; }
.color77 { color: #F0F8FF; }
.color78 { color: #F8F8FF; }
.color79 { color: #D2691E; }
.color80 { color: #696969; }
.color81 { color: #191970; }
.color82 { color: #A9A9A9; }
.color83 { color: #FF69B4; }
.color84 { color: #4169E1; }
.color85 { color: #A52A2A; }
.color86 { color: #00FA9A; }
.color87 { color: #FFDAB9; }
.color88 { color: #FFFACD; }
.color89 { color: #6A5ACD; }
.color90 { color: #FAFAD2; }
.color91 { color: #FFFAF0; }
.color92 { color: #FFFAFA; }
.color93 { color: #228B22; }
.color94 { color: #556B2F; }
.color95 { color: #2E8B57; }
.color96 { color: #008B8B; }
.color97 { color: #98FB98; }
.color98 { color: #FFEBCD; }
.color99 { color: #FAEBD7; }
.color100 { color: #8A2BE2; }
.color101 { color: #FF8C00; }
.color102 { color: #7CFC00; }
.color103 { color: #CD5C5C; }
.color104 { color: #8FBC8F; }
.color105 { color: #DCDCDC; }
.color106 { color: #9ACD32; }
.color107 { color: #32CD32; }
.color108 { color: #483D8B; }
.color109 { color: #66CDAA; }
.color110 { color: #6B8E23; }
.color111 { color: #90EE90; }
.color112 { color: #5F9EA0; }
.color113 { color: #FFDEAD; }
.color114 { color: #F5DEB3; }
.color115 { color: #00CED1; }
.color116 { color: #87CEEB; }
.color117 { color: #AFEEEE; }
.color118 { color: #87CEFA; }
.color119 { color: #FFFF00; }
.color120 { color: #00FF00; }
.color121 { color: #7FFF00; }
.color122 { color: #ADFF2F; }
.color123 { color: #2F4F4F; }
.color124 { color: #FF7F50; }
.color125 { color: #00FF7F; }
.color126 { color: #BC8F8F; }
.color127 { color: #7FFFD4; }
.color128 { color: #FFEFD5; }
.color129 { color: #D8BFD8; }
.color130 { color: #FFFFE0; }
.color131 { color: #FFFFF0; }
.color132 { color: #F0FFF0; }
.color133 { color: #F5FFFA; }
.color134 { color: #00FFFF; }
.color135 { color: #00BFFF; }
.color136 { color: #F0FFFF; }
.color137 { color: #E0FFFF; }
.color138 { color: #FFFFFF; }

/* Subsection Tabs
--------------------*/
ul.subsection_tabs {
  list-style:none;
  margin:0 0 5px 0;
  padding:0;
  clear:both;
  border-bottom:1px solid #ccc;
  height:20px;
  clear:both;
}

ul.subsection_tabs li.tab {
  float:left;
  margin-right:7px;
  text-align:center;
}

ul.subsection_tabs li.tab a {
  display:block;
  height:20px;
  padding:0 6px 0 6px;
  background-color:#fff;
  color:#666;
  width:20px;
}

ul.subsection_tabs li.tab a:hover {
  color:#666;
}

ul.subsection_tabs li.tab a.active {
  background-color:#ddd;
}

ul.subsection_tabs li.source_code {
  float:right;
}
