<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="eu.interedition.collatex2.web" />
	<mvc:annotation-driven />

	<bean id="handlerAdapter" class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<array>
				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
			</array>
		</property>
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />

	<bean id="viewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="defaultContentType" value="application/xhtml+xml;charset=utf-8" />
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="true" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="application/xhtml+xml;charset=utf-8" />
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="contentType" value="application/xhtml+xml;charset=utf-8" />
					<property name="prefix" value="" />
					<property name="suffix" value=".ftl" />

				</bean>
			</list>
		</property>
	</bean>

	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/freemarker" />
		<property name="freemarkerSettings">
			<props>
				<prop key="auto_include">/header.ftl</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="output_encoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="strict_syntax">true</prop>
				<prop key="whitespace_stripping">true</prop>
			</props>
		</property>
	</bean>
</beans>
