{% extends "page.twig" %}

{% block content %}
    <p>For now, see <a href="https://github.com/interedition/collatex" title="GitHub Homepage">https://github.com/interedition/collatex</a></p>
{% endblock %}