{% extends "page.twig" %}

{% block content %}
<div id="project-history">
    <h2>Project History &amp; Agenda</h2>

    <p>Development of CollateX started in 2010 as a project within the EU-funded initiative
        <a href="http://www.interedition.eu/" title="Homepage">Interedition</a>, with the aim to create a successor of
        <a href="http://www.sd-editions.com/" title="Scholarly Digital Editions">Peter Robinson's Collate</a>. While widely
        used within the community and valued for its versatility in producing critical apparatuses for scholarly editions,
        by then Collate was increasingly hard to deploy as it depends on a runtime environment whose support had been
        phased out by its vendor.
    </p>

    <p>CollateX was planned as a complete rewrite of Collate that was primarily addressing the architectural challenges
        of its predecessor. Over the years though and with more and more participants contributing their requirements and
        ideas, it developed a different agenda. On the one hand, Collate is a complete solution for producing a critical apparatus,
        with features ranging from its very own algorithm for comparing versions of a text to a powerful graphical user interface that lets the user
        control the collation process. On the other hand, CollateX has become a software component which can be embedded into other software or be made a part of
        a software system. Its goal is the provision and advancement of current research in the field of computer-supported collation
        involving natural language texts. To this end the developers of CollateX put an emphasis on its flexible applicability, be it in terms of
        its runtime environment or be it in terms of the specific challenges CollateX has to cope with when applied to
        textual traditions of varying language, encoding or publication settings.</p>
</div>

<div id="project-contact">
    <h2>Contact</h2>

    <p>You can contact the team via e-mail (<a href="mailto:info@collatex.net" title="E-Mail">info@collatex.net</a>) or individually (see below).
        Some of the team members can also be found in Interedition's IRC channel <a href="irc://chat.freenode.net/interedition" title="Interedition IRC">#interedition</a>
        on freenode.net.</p>

    <p>Development of CollateX takes place on <a href="https://github.com/interedition/collatex" title="CollateX on GitHub">GitHub</a>.
        <a href="https://github.com/interedition/collatex/issues" title="Issue Management">Bug reports</a> and/or
        <a href="https://github.com/interedition/collatex/pulls" title="Pull Requests">other contributions</a> are welcome.</p>
</div>

<div id="project-team">
    <h2>Team</h2>

    <h3>Project Leads</h3>

    <ol class="yui3-g">
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.huygens.knaw.nl/dekker/" title="Homepage">Ronald Haentjens Dekker</a>
                <br>(<a href="http://www.huygens.knaw.nl/" title="Homepage" class="institution">Huygens ING</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://gregor.middell.net/" title="Homepage">Gregor Middell</a></div>
        </li>
    </ol>

    <h3>Contributors</h3>

    <ol class="yui3-g">
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://byzantini.st/" title="Homepage">Tara L. Andrews</a>
                <br>(<a href="http://www.kuleuven.be/" title="Homepage" class="institution">University of Leuven</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.huygens.knaw.nl/buitendijk/" title="Homepage">Bram Buitendijk</a>
                <br>(<a href="http://www.huygens.knaw.nl/" title="Homepage" class="institution">Huygens ING</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.huygens.knaw.nl/filarski/" title="Homepage">Gertjan Filarski</a>
                <br>(<a href="http://www.huygens.knaw.nl/" title="Homepage" class="institution">Huygens ING</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.birmingham.ac.uk/staff/profiles/tr/green-zeth.aspx" title="Homepage">Zeth Green</a>
                <br>(<a href="http://www.birmingham.ac.uk/" title="Homepage" class="institution">University of Birmingham</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content">Troy A. Griffitts
                <br>(<a href="http://www.uni-muenster.de/" title="Homepage" class="institution">University of Münster</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content">Nicholas Laiacona
                <br>(<a href="http://www.performantsoftware.com/" title="Homepage" class="institution">Performant Software Solutions</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content">Marcin Mielnicki
                <br>(<a href="http://www.man.poznan.pl/" title="Homepage" class="institution">Poznan Supercomputing &amp; Networking Center</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://spraakbanken.gu.se/personal/ljo/">Leif-Jöran Olsson</a>
                <br>(<a href="http://spraakbanken.gu.se/" title="Homepage" class="institution">University of Gothenburg</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content">Tomasz Parkola
                <br>(<a href="http://www.man.poznan.pl/" title="Homepage" class="institution">Poznan Supercomputing &amp; Networking Center</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.thorstenvitt.de/" title="Homepage">Thorsten Vitt</a>
                <br>(<a href="http://www.germanistik.uni-wuerzburg.de/lehrstuehle/computerphilologie/" title="Homepage" class="institution">University of Würzburg</a>)</div>
        </li>
        <li class="yui3-u-1-4">
            <div class="content"><a href="http://www.huygens.knaw.nl/vanzundert/" title="Homepage">Joris van Zundert</a>
                <br>(<a href="http://www.huygens.knaw.nl/" title="Homepage" class="institution">Huygens ING</a>)</div>
        </li>
    </ol>
</div>
{% endblock %}