body {
    margin: 1em auto;
    width: 960px;
}

table {
    margin: 1em;
}

th, td {
    border: 1px solid #B0C4DE;
}

label {
    font-weight: bold;
    margin: 0 1em
}

table.alignment {
    border-collapse: separate;
    border-spacing: 0.25em;
}

table.alignment tr {
    border: 0;
}

table.alignment th, table.alignment td {
    border: 1px solid #d3d3d3;
    padding: 0.5em;
}

table.alignment th {
    border-width: 2px;
    padding: 0 1em
}

table.alignment td.gap {
    border: 0;
    text-align: center
}

table.alignment td.invariant {
    border-color: #80BB00
}

table.alignment td.variant {
    border-color: #000000
}

table.alignment td {
    white-space: nowrap;
}

a, a:visited, a:link, a:hover, a:active {
    color: #080A80;
    font-weight: bold;
    text-decoration: none;
}

.yui3-menu a {
    color: inherit;
    font-weight: normal;
}

form table, form table tr td, form table tr th {
    border: 0.25em solid #FFFFFF;
}

form table tr td, form table tr th {
    margin: 0.5em 0;
}

form p {
    padding: 1em;
    line-height: 2em;
    border: 1px solid #ccc;
    background: #eee;
}

img.icon {
    margin: 0 0.25em
}

.hidden {
    visibility: hidden;
}

.error {
    color: #FF3366;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.search-results li {
    border-bottom: 1px dashed #F2F2F2;
    margin-bottom: 2em;
}

.boxed {
    background: #9D9DCB;
    color: #FFFFFF;
    padding: 1em 0.5em;
}

#logo {
    float: right;
    margin: 1em;
}

#footer {
    margin-top: 1.5em;
    text-align: center;
}

.none {
    color: black;
}

.match {
    color: red;
}

.addition {
    color: orange;
}

.omission {
    color: blue;
}

.replacement {
    color: purple;
}

.chapter {
    overflow-x: auto;
}

.form-element {
    margin: 1em 0;
}

.form-label {
    text-align: right
}

.form-label label {
    padding-right: 1em
}

#variant-graph-svg, #alignment-table {
    overflow-x: auto;
    border: 1px solid #ccc;
    padding: 1em
}

#input, #output {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ccc;
}
