@CHARSET "UTF-8";

body,td,select,input,li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited, a:active, a:hover {
	color: #090;
	text-decoration: underline;
}

h2, h3, h4 {
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid black;
	color: #090;
}

h2 {
	font-size: x-large;
	font-weight: 900;
	padding: 4px 4px 4px 6px;
}

h3, h4 {
	font-size: large;
	font-weight: normal;
	padding: 4px 4px 4px 6px;
}

h5 {
	color: #990000;
	padding: 4px 4px 4px 6px;
}

#breadcrumbs {
	background-color: #fff;
	border-bottom: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	margin: 0.5em;
}

#leftColumn {
	background-color: #fff;
	border: 0;
	margin: 1em;
}

#navcolumn h5 {
	border-bottom: 1px solid #AAAAAA;
	color: #000000;
	font-size: smaller;
	padding-top: 2px;
}

table.bodyTable th {
	background-color: #BBBBBB;
	color: white;
	font-weight: bold;
	text-align: left;
}

table.bodyTable tr.a {
	background-color: #DDDDDD;
}

table.bodyTable tr.b {
	background-color: #EEEEEE;
}

.source {
	border: 1px dashed #999999;
}

dl {
	background-color: #cfc;
	border: 1px solid #AAAAAA;
	padding: 4px 4px 4px 6px;
}

dt {
	color: #990000;
}

#organizationLogo img,#projectLogo img,#projectLogo span {
	margin: 8px;
}

#banner {
	margin: 0.5em;
}
