doctype html
html(lang="en")
    head
        meta(http-equiv="content-type" content="text/html;charset=utf-8")
        block title
        link(rel="stylesheet", type="text/css", href="https://yui-s.yahooapis.com/combo?3.8.1/build/cssfonts/cssfonts-min.css&3.8.1/build/cssgrids/cssgrids-min.css&3.8.1/build/cssreset/cssreset-min.css&3.8.1/build/cssbase/cssbase-min.css")
        link(rel="stylesheet" type="text/css" href="/collatex.css")
    body(class="yui3-skin-sam")
        #header
            h1 <a href="/" title="Homepage">CollateX &ndash; Software for Collating Textual Sources</a>
            p.subtitle <span class="quote">&ldquo;In a language, in the system of language, there are only differences.&rdquo;</span> &ndash; Jacques Derrida

        #menu
            ol
                li <a href="/">Home</a>
                li <a href="/download/">Download</a>
                li <a href="/doc/">Documentation</a>
                li <a href="/demo/">Demo</a>
                li <a href="/about/">About</a>
        #content
            block content

        #footer Copyright &copy; 2010-2013 <a href="/about/">The Interedition Development Group</a>. All rights reserved.

        a(href="https://github.com/interedition/collatex")
            img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub")

        script(type="text/javascript" src="https://yui-s.yahooapis.com/combo?3.8.1/build/yui-base/yui-base-min.js&3.8.1/build/oop/oop-min.js&3.8.1/build/event-custom-base/event-custom-base-min.js&3.8.1/build/features/features-min.js&3.8.1/build/dom-core/dom-core-min.js&3.8.1/build/dom-base/dom-base-min.js&3.8.1/build/selector-native/selector-native-min.js&3.8.1/build/selector/selector-min.js&3.8.1/build/node-core/node-core-min.js&3.8.1/build/node-base/node-base-min.js&3.8.1/build/event-base/event-base-min.js&3.8.1/build/event-delegate/event-delegate-min.js&3.8.1/build/node-event-delegate/node-event-delegate-min.js&3.8.1/build/pluginhost-base/pluginhost-base-min.js&3.8.1/build/pluginhost-config/pluginhost-config-min.js&3.8.1/build/node-pluginhost/node-pluginhost-min.js&3.8.1/build/dom-style/dom-style-min.js&3.8.1/build/dom-screen/dom-screen-min.js&3.8.1/build/node-screen/node-screen-min.js&3.8.1/build/node-style/node-style-min.js&3.8.1/build/event-custom-complex/event-custom-complex-min.js&3.8.1/build/event-synthetic/event-synthetic-min.js")
        script(type="text/javascript" src="https://yui-s.yahooapis.com/combo?3.8.1/build/event-mousewheel/event-mousewheel-min.js&3.8.1/build/event-mouseenter/event-mouseenter-min.js&3.8.1/build/event-key/event-key-min.js&3.8.1/build/event-focus/event-focus-min.js&3.8.1/build/event-resize/event-resize-min.js&3.8.1/build/event-hover/event-hover-min.js&3.8.1/build/event-outside/event-outside-min.js&3.8.1/build/event-touch/event-touch-min.js&3.8.1/build/event-move/event-move-min.js&3.8.1/build/event-flick/event-flick-min.js&3.8.1/build/event-valuechange/event-valuechange-min.js&3.8.1/build/event-tap/event-tap-min.js")
        script(type="text/javascript" src="/collatex.js")
